$white: #f4f5f6;
$black: #454851;
$purple: #6764a3;
$blue: #4f9fb3;
$green: #3FA34D;

@keyframes landing-background-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}