html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow:auto;
  background-color: $white;
  color: $black;
  font-family: $default-font-family;
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  box-sizing: border-box;
}

section {
  padding: 9.7% 13.8% 9.7% 13.8%;
}

main{
  padding-top: 70px;
}

