$default-font-family: Infra, sans-serif;
$h1-size: 9rem;
$h1-size-tablet: 6rem;
$h1-size-mobile: 4rem;
$h2-size: 5rem;
$h2-size-tablet: 3rem;
$h2-size-mobile: 2rem;
$h3-size: 4.5rem;
$p-size: 48px;
html, body{
  font-family: $default-font-family;
}
h1 {
  font-size: $h1-size;
  font-weight: 600;
  letter-spacing: -0.045em;
  transition: font-size 0.5s ease;
}

h2 {
  font-size: $h2-size;
  font-weight: normal;
  letter-spacing: -0.045em;
  transition: font-size 0.5s ease;
}

h3 {
  font-size: $h3-size;
  font-weight: 600;
  letter-spacing: -0.045em;
}

p{
  font-size: $p-size;
  line-height: 1.6;
  letter-spacing: -0.045em;
}
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: $h1-size-tablet;
  }
  h2 {
    font-size: $h2-size-tablet;
  }
}

@media only screen and (max-width: 415px) {
  h1 {
    font-size: $h1-size-mobile;
  }
  h2 {
    font-size: $h2-size-mobile;
  }
}

