.accordion-button{
  margin-top: -5px;
  width: 100%;
  text-align: left;
  background-image: url(../img/bg-green.png);
  @include image-format($green);
  font-family: $default-font-family;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.045em;
  padding: 10px;
  color: $green;
  &:hover{
    background-color: $green;
    color: $white;
    cursor: pointer;
  }
}
.active{
  background-color: $green;
    color: $white;
}

.accordion-panel{
  line-height: 1.5;
  max-height: 0;
  padding-left: 20px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  ul{
    font-size: $p-size;
    padding: 1.5rem;
  }
}

@media only screen and(max-width: 415px){
  .accordion-button{
    @include image-format-mobile($green);
    font-size: 1.5rem;
  }
  .accordion-panel{
    ul{
      font-size: $p-size-mobile;
    }

  }
}