#nav-container{
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  
  z-index: 1;
}
.nav{
  text-decoration: none;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 500px;
  transform: translateY(-100px);
  background-color: transparent;
  overflow-x: hidden;
  transition: 0.5s ease;
  a{
    text-decoration: none;
    color: $white;
    font-size: 25px;
    transition: 0.5s ease;
    font-weight: 600;
    letter-spacing: -0.045em;
  }
  #nav-exit{
    line-height: 0;
    font-size: 50px;
    padding-left: 20px;
  }
}

#open-button{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 50px;
  cursor: pointer;
  background-color: transparent;
  color: $white;
  padding: 10px 15px;
  border: none;
  transition: 0.5s ease;
}

.sticky-trigger{
  height: 1px;
  width: 1px;
  position: sticky;
  
  right: 0;
  top: 0;
  background-color: blue;
}