html, body {
  font-family: Infra, sans-serif;
}

h1 {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: -0.045em;
  transition: font-size 0.5s ease;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: -0.045em;
  transition: font-size 0.5s ease;
}

h3 {
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: -0.045em;
}

h4 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.045em;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.045em;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 415px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.7rem;
  }
}
@-webkit-keyframes landing-background-anim {
  0% {
    background-position: 0% 83%;
  }
  50% {
    background-position: 100% 18%;
  }
  100% {
    background-position: 0% 83%;
  }
}
@keyframes landing-background-anim {
  0% {
    background-position: 0% 83%;
  }
  50% {
    background-position: 100% 18%;
  }
  100% {
    background-position: 0% 83%;
  }
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #f4f5f6;
  color: #454851;
  font-family: Infra, sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

* {
  margin: 0;
  box-sizing: border-box;
}

section {
  padding: 7% 13.8% 9.7% 13.8%;
  overflow: hidden;
}

main {
  padding-top: 70px;
}

.big-picture {
  width: 523px;
  height: 523px;
}

.picture-content {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  main {
    padding-top: 2rem;
  }

  .big-picture {
    width: auto;
    height: auto;
  }

  .picture-content {
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width: 415px) {
  section {
    padding-top: 80px;
  }

  main {
    padding-top: 10%;
  }

  .picture-content {
    width: 100%;
    height: auto;
    padding-bottom: 100%;
  }
}
.landing__button {
  width: 36rem;
  height: 10rem;
  min-height: 10rem;
  margin-top: 3%;
  background: transparent;
  background-color: transparent;
  border: 3px solid #f4f5f6;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px #f4f5f6;
  border-radius: 88.5px;
  color: #f4f5f6;
  font-size: 4rem;
  letter-spacing: -0.045em;
}
.landing__button:hover {
  cursor: pointer;
}
.landing__button:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 6px 6px 0px #f4f5f6;
}

@media only screen and (max-width: 1200px) {
  .landing__button {
    width: 20rem;
    height: 8rem;
    min-height: 8rem;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 415px) {
  .landing__button {
    width: 15rem;
    height: 6rem;
    min-height: 6rem;
    margin-top: 10vh;
    font-size: 2rem;
  }
}
#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 80px;
  padding-top: 20px;
  transform: translateX(-100px);
  background-color: transparent;
  overflow-x: hidden;
  transition: 0.5s ease;
}
.nav a {
  text-decoration: none;
  color: #f4f5f6;
  font-size: 50px;
  transition: 0.5s ease;
  line-height: 0;
}
.nav #nav-exit {
  line-height: 0;
  font-size: 50px;
}

#open-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 50px;
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
  color: #f4f5f6;
  padding: 20px;
  border: none;
  transition: 0.5s ease;
}

.sticky-trigger {
  height: 1px;
  width: 1px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  #open-button {
    font-size: 40px;
  }

  .nav a {
    font-size: 40px;
  }
  .nav #nav-exit {
    font-size: 40px;
  }
}
@media only screen and (max-width: 415px) {
  #nav-container {
    width: 100%;
  }

  .nav {
    flex-direction: row;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .nav #nav-exit {
    padding-top: 0;
  }

  #open-button {
    padding: 0;
  }
}
.icon-and-label {
  width: 50px;
  border: 2px solid blue;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-style: none;
}
.icon label {
  text-align: center;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  letter-spacing: -0.045em;
}
.icon:hover {
  transform: scale(1.2);
}
.icon:hover label {
  opacity: 1;
}
.icon i {
  font-size: 40px;
  fill: #454851;
  max-height: 50px;
}

.accordion-button {
  margin-top: -5px;
  width: 100%;
  text-align: left;
  border: 3px solid #3FA34D;
  font-family: Infra, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.045em;
  padding: 10px;
  color: #3FA34D;
}
.accordion-button:hover {
  background-color: #3FA34D;
  color: #f4f5f6;
  cursor: pointer;
}

.active {
  background-color: #3FA34D;
  color: #f4f5f6;
}

.accordion-panel {
  line-height: 1.5;
  max-height: 0;
  padding-left: 20px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.accordion-panel ul {
  font-size: 2rem;
  padding: 1.5rem;
}

@media only screen and (max-width: 415px) {
  .accordion-button {
    font-size: 1.5rem;
  }

  .accordion-panel ul {
    font-size: 1.2rem;
  }
}
.landing-and-scroll-area {
  background: linear-gradient(181deg, #3fa34d, #4f9fb3, #6764a3);
  background-size: 400% 400%;
  -webkit-animation: landing-background-anim 19s ease infinite;
          animation: landing-background-anim 19s ease infinite;
}

.landing {
  height: 100vh;
  width: auto;
  scroll-snap-align: start;
}
.landing main {
  padding: 0;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.scroll-section {
  height: 50vh;
  margin: 0;
  padding: 0;
}

.scroll-section__overlay {
  width: 100%;
  height: 100%;
  background: #f4f5f6;
  background: linear-gradient(0deg, #f4f5f6 0%, rgba(0, 0, 0, 0) 100%);
}

.landing__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #f4f5f6;
}

@media only screen and (max-width: 415px) {
  .landing {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .landing__content {
    justify-content: center;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 10%;
  }

  h2 {
    font-size: 2rem;
  }
}
.jobs {
  scroll-snap-align: start;
  min-height: 100%;
  color: #4f9fb3;
}
.jobs .jobs__content {
  height: 100%;
}
.jobs a {
  text-decoration: none;
  color: #4f9fb3;
}

.jobs__img-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
}

.jobs__img-container {
  border: 3px solid #4f9fb3;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px #4f9fb3;
  height: 20vw;
  width: 20vw;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.jobs__img-container h4, .jobs__img-container p {
  transition: 0.5s ease;
  width: 100%;
}
.jobs__img-container p {
  opacity: 0;
  font-size: 0;
}
.jobs__img-container:hover {
  transform: scale(1.2);
}
.jobs__img-container:hover h4 {
  opacity: 1;
}
.jobs__img-container:hover p {
  font-size: 120%;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .jobs__img-grid {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 7vh;
  }

  .jobs__img-container {
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  .jobs__img-container h4 {
    font-size: 2rem;
  }
  .jobs__img-container p {
    opacity: 1;
    font-size: 1rem;
  }
  .jobs__img-container:hover {
    transform: scale(1.2);
  }
  .jobs__img-container:hover h4 {
    font-size: 2rem;
  }
  .jobs__img-container:hover p {
    opacity: 1;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 415px) {
  .jobs__img-grid {
    height: 100%;
    grid-template-columns: 1fr;
    gap: 7vh;
  }

  .jobs__img-container {
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  .jobs__img-container h4 {
    font-size: 2rem;
  }
  .jobs__img-container p {
    opacity: 1;
    font-size: 1rem;
  }
}
#about {
  color: #6764a3;
  scroll-snap-align: start;
}
#about i {
  color: #6764a3;
}
#about a {
  text-decoration: none;
}

.picture-of-me {
  border: 3px solid #6764a3;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px #6764a3;
  background-image: url(/assets/img/bg-purple.png);
}

.icon-section {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.about__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

@media screen and (max-width: 768px) {
  .about__main {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    gap: 7vh;
  }
}
.about__description {
  margin: 0;
  padding: 0;
}

#stack {
  position: relative;
  min-height: 100vh;
  height: 100%;
  color: #3FA34D;
  scroll-snap-align: start;
}
#stack main {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.stack__accordion {
  padding-bottom: 70px;
}

.stack__grid {
  padding-left: 70px;
  display: grid;
  width: 100%;
  height: 70vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.stack__icon i {
  font-size: 3.5rem;
}

.stack__icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

@media only screen and (max-width: 415px) {
  #stack {
    height: 100%;
  }
  #stack main {
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
  }

  .stack__grid {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .stack__icon i {
    font-size: 2.7rem;
  }

  .stack__accordion {
    padding-bottom: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
#article {
  height: 100vh;
  width: auto;
  background-color: #3FA34D;
  color: #f4f5f6;
}
#article i {
  color: #f4f5f6;
}
#article a {
  text-decoration: none;
  color: #f4f5f6;
  line-height: 0;
}

#back {
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #f4f5f6;
  max-height: 50px;
  overflow: hidden;
}
#back i {
  line-height: 0;
}

.article__main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 60px;
}

.article__picture {
  grid-column: 1/1;
}

.article__content-picture {
  border: 3px solid #454851;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px #454851;
  background-image: url(/assets/img/btn-bg-02.png);
}

.article__description {
  grid-column: 2/2;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #f4f5f6 #3FA34D;
}

@media only screen and (max-width: 768px) {
  #back {
    font-size: 40px;
    position: fixed;
  }

  #article {
    height: 100%;
  }

  .article__main {
    grid-template-columns: 100%;
  }

  .article__description {
    grid-column: 1/1;
    grid-row: 2/2;
  }
}
@media only screen and (max-width: 768px) {
  #back {
    top: 0;
    left: 0;
  }
}/*# sourceMappingURL=styles.css.map */