#about{
  color: $purple;
  i{
    color: $purple;
  }
  scroll-snap-align: start;
}
.about__picture{
  
  width: 523px;

}
.picture-of-me{
  width: 523px;
  height: 523px;
  @include image-format($purple);

}
.about__icons{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  
}
.about__main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
@media screen and (max-width: 1020px){
  .about__main{
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    gap: 7vh;
    
  }
  .about__picture{
    width: 100%;
    height: auto;
  }
  .picture-of-me{
    width: 100%;
    height: auto;
    padding-bottom: 100%;
  }
}

.about__description{
  margin: 0; padding: 0;
}

