#about{
  color: $purple;
  i{
    color: $black;
  }
  scroll-snap-align: start;
  a{
    text-decoration: none;
  }
}
.picture-of-me{
  
  @include image-format($black);
  background-color: $white;
}
.icon-section{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  
}

.about__description{
  margin: 0; padding: 0;
}
.about__main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  background-image: url(../img/bg-purple.png);
  @include image-format($purple);
  padding: 3vw;
  color: $black;
}
@media screen and (max-width: 768px){
  .about__main{
    display: block;
    width: 100%;
    height: auto;
    
  }

}

@media only screen and (max-width: 415px){
  .about__main{
    @include image-format-mobile($purple);
  }

  .picture-of-me{
    @include image-format-mobile($black);
  }

  .about__description{
    margin-top: 7vw;
  }
}


