#article-body{
  height: 100vh;

}
#article{
  height: 100%;
  width: auto;
  background-color: $green;
  color: $white;
  i{
    color: $white;
  }
  a{
    text-decoration: none;
    color: $white;
    line-height: 0;
  }
}

#back{
    
  font-size: 50px;
  position: absolute;
  top:20px;
  left:20px;
  color: $white;
    
  max-height: 50px;
  overflow: hidden;
  i{
    line-height: 0;
  }
}

.article__main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
}

.article__picture{
  grid-column: 1 / 1;
}

.article__content-picture{
  @include image-format($black);
  background-image: url(../img/btn-bg-02.png);
}

.article__description{
  grid-row: 1/3;
  @include image-format($black);
  background-color: $white;
  color: $black;
  height: 100%;
  padding: 3vw;
  grid-column: 2/2;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $white $green;
  
}

@media only screen and (max-width: 768px){
  #back{
    font-size: 40px;
    position: fixed;
  }
  #article-body{
    height: 100%;
  }
  .article__main{
    display: block;
  }


  .article__description{
    height: 100%;
  }
}

@media only screen and (max-width: 415px){

  .article__content-picture{
    @include image-format-mobile($black);
  }

  .article__description{
    margin-top: 7vw;
    @include image-format-mobile($black);
  }
  #back{
    
  top:0;
  left:0;
  }
}