.jobs {
  scroll-snap-align: start;
  min-height: 100%;
  color: $blue;
  .jobs__content{
   height: 100%;
  }
  a{
    text-decoration: none;
    color: $blue;
  }
}

.jobs__img-grid {
  background-image: url(../img/bg-blue.png);
  @include image-format($blue);
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  padding: 3vw;
}

.jobs__img-container {
  @include image-format($black);
  color: $black;
  background-color: $white;
  height: 17vw;
  width: 17vw;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  h4, p{
    transition: 0.5s ease;
    width: 100%;
  }
  p{
    opacity: 0;
    font-size: 0;
  }
  &:hover {
    transform: scale(1.2);
    h4{
      opacity: 1;
    }
    p{
      font-size: 120%;
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 768px) {
  .jobs__img-grid {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 7vh;
  }
  .jobs__img-container {
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    h4{
      font-size: 2rem;
    }
    p{
      opacity: 1;
      font-size: 1rem;
    }
    &:hover {
      transform: scale(1.2);
      h4{
        font-size: 2rem;
      }
      p{
        opacity: 1;
        font-size: 1rem;
      }
    }
  }
 


}
@media only screen and (max-width: 415px) {
  .jobs__img-grid {
    @include image-format-mobile($blue);
    height: 100%;
    grid-template-columns: 1fr;
    gap: 7vh;
  }

  .jobs__img-container {
    @include image-format-mobile($black);
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    h4{
      font-size: 2rem;
    }
    p{
      opacity: 1;
      font-size: 1rem;
    }

    &:hover {
      transform: scale(1);
      h4{
        font-size: 2rem;
      }
      p{
        opacity: 1;
        font-size: 1rem;
      }
    }
    &:active{
      transform: translate(3px, 3px);
      box-shadow: 2px 2px 0px $black;

    }
  }

  

}