.jobs {
  scroll-snap-align: start;
  min-height: 100%;
  color: $blue;
  .jobs__content{
   height: 100%;
  }
}

.jobs__img-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
}

.jobs__img-container {
  @include image-format($blue);
  height: 17.36vw;
  width: 17.36vw;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.2);
  }
}
