.landing-and-scroll-area {
  background: linear-gradient(141deg, $purple, $blue);
  background-size: 400% 400%;
  animation: landing-background-anim 30s ease infinite;
}

.landing {
  height: 100vh;
  width: auto;
  scroll-snap-align: start;
  main {
    padding: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.scroll-section {
  height: 50vh;
  margin: 0;
  padding: 0;
}

.scroll-section__overlay{
  width: 100%;
  height: 100%;
  background: $white;
  background: linear-gradient(0deg, $white 0%, rgba(0,0,0,0) 100%); 
}

.landing__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $white;
}

@media only screen and (max-width: 415px) {
  h2 {
    font-size: $h2-size-mobile;
  }
}


