#stack{
  min-height: 100vh;
  height: 100%;
  color: $green;
  scroll-snap-align: start;
  main{
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
}

.stack__accordion{
  padding-bottom: 70px;
}

.stack__grid{
  //border: 5px solid $green;
  margin-left: 70px;
  margin-top: -5px;
  display: grid;
  width: 100%;
  height: 70vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr ;
}

.stack__icon{
  i{
    font-size: 3.5rem;
  }
}

.stack__icon{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

@media only screen and (max-width: 415px){
  #stack {
    height: 100%;

    main{
      margin: 0;
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .stack__grid{
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stack__icon{
    i{
      font-size: 2.7rem;
    }
  }
  .stack__accordion{
    padding-bottom: 10vh;
    padding-top: 10vh;

  }
}

